* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;

  background-color: gray;
}

header > #logo {
  width: 50px;
}

main {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  padding: 16px;
}

main > form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: lightgray;
  padding: 8px 16px;
}

footer > #social-media {
  display: flex;
  gap: 16px;
}

.social-logo {
  width: 30px;
}