body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 16px;

  background-color: gray;
  font-weight: bold;
  font-size: 1.5rem;
}

header > #logo {
  width: 50px;
}

main {
  flex: 1;
  padding-bottom: 16px;
}

main > #main-section {
  display: flex;
  justify-content: space-evenly;
}

main > #main-section > form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: lightgray;
  padding: 8px 16px;
}

footer > #social-media {
  display: flex;
  gap: 16px;
}

footer > #social-media .social-logo {
  width: 30px;
}