<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Produto</title>
</head>
<body>
<form action="#"
      th:action="@{/produto}"
      th:object="${produto}"
      method="post">
    <label for="name" >Name</label>
    <input type="text" th:field="*{nome}"  id="name" placeholder="Name">
    <label for="descricao" >Descrição</label>
    <input type="text" th:field="*{descricao}"  id="descricao" placeholder="Descrição">
    <label for="dataLancamento" >Data de Lançamento</label>
    <input type="text" th:field="*{dataLancamento}"  id="dataLancamento" placeholder="Data de Lançamento">
    <label for="preco" >Preço</label>
    <input type="text" th:field="*{preco}"  id="preco" placeholder="Preço">


    <input type="submit" value="Add Produto">

</form>
</body>
</html>