html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 14px;
}

header {
    position: sticky;
    top: 0;
    height: 40px;
    padding: 2px 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: lightblue;
}

header>img {
    width: auto;
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
    gap: 8px;
    height: 100%;
    list-style: none;
}

.navbar a {
    display: flex;
    padding: 0 4px;
    height: 100%;
    align-items: center;
    text-decoration: none;
    transition: background-color 300ms;
}

.navbar a:hover {
    background-color: green;
    color: white;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: red;
    text-align: center;

    background-image: url("images/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.images-button {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
}

.images-button>img {
    width: 30px;
    height: 30px;
}

iframe {
    width: 800px;
    height: 600px;
}

footer {
    position: sticky;
    bottom: 0;
    background-color: lightsalmon;
    padding: 8px;
}

.image-credits {
    display: block;
    margin-top: 25px;
}