body {
    background-color: lightcyan;
}

header {
    position: sticky;
    top: 0;
    height: 40px;
    padding: 2px 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: lightblue;
}

header img {
    width: auto;
    height: 100%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: red;
    text-align: center;

    background-image: url("images/image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 14px;
}

.imagesButton {
    display: inline-flex;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
}

.imagesButton img {
    width: 30px;
    height: 30px;
}