<ntap-header></ntap-header>

<div class="container">
  <div class="list-group">
    <a
      href="#"
      class="list-group-item list-group-item-action active"
      aria-current="true"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ notifications[0].title }}</h5>
        <small>{{ notifications[0].date | date }}</small>
      </div>
      <p class="mb-1">{{ notifications[0].subtitle }}</p>
    </a>
    <a
      href="#"
      class="list-group-item list-group-item-action"
      aria-current="true"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ notifications[1].title }}</h5>
        <small>{{ notifications[1].date | date }}</small>
      </div>
      <p class="mb-1">{{ notifications[1].subtitle }}</p>
    </a>
    <a
      href="#"
      class="list-group-item list-group-item-action"
      aria-current="true"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ notifications[2].title }}</h5>
        <small>{{ notifications[2].date | date }}</small>
      </div>
      <p class="mb-1">{{ notifications[2].subtitle }}</p>
    </a>
  </div>

  <ntap-footer></ntap-footer>
</div>
