<ntap-header></ntap-header>

<div class="container">
  <div class="list-group">
    <a
      href="#"
      class="list-group-item list-group-item-action"
      aria-current="true"
      *ngFor="let notification of notifications"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ notification.title }}</h5>
        <small>{{ notification.date | date }}</small>
      </div>
      <p class="mb-1">{{ notification.subtitle }}</p>
    </a>
  </div>

  <ntap-footer></ntap-footer>
</div>
